{% extends "parliament/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<br/>
<p class="lead">Hello! Do we know each other?</p>

{% if form.errors %}
    <span class="label label-important">Your username and password did not match, please try again.</span>
{% endif %}

<form class="form" action="/parliament/user/login/auth/" method="post">{% csrf_token %}
    <label for="username">Username: </label>
        <input type="text" name="form_username" value="" id="form_username" />
    <label for="password">Password: </label>
        <input type="password" name="form_password" value="" id="form_password" />
    <br>
    <input type="submit" class="btn btn-inverse" value="Login" />
</form>
<p><a href="/parliament/user/register/"><i class="icon-warning-sign"></i> If don't have an account, you should create one.</a></p>
{% endblock content %}