{% extends "parliament/base.html" %}
{% load humanize %}

{% block title %}Novas Propostas{% endblock %}
{% block description %}TODO{% endblock %}

{% block content %}
<h1>Propostas</h1>
<br/>
<!-- tabs to select sorting criteria -->
<div>
    <ul class="nav nav-tabs" id="SortingCriteriaTabs">
        <li class="active"><a href="#OrderByTimestamp" data-toggle="tab" text="most recently added proposals">Recente</a></li>
        <li><a href="#OrderByScore" data-toggle="tab" text="proposals with the highest scores, in descending order">Favorita</a></li>
        <li><a href="#OrderByViews" data-toggle="tab" text="proposals with the most views, in descending order">Mais visualizada</a></li>
    </ul>
</div>
{% if proposals_list %}
<div class="tab-content">
    <!-- display of sorted list (default: most recent first) -->
    <div class="tab-pane active" id="OrderByTimestamp">
        {% for p in proposals_list %}
        <div class="row-fluid">
            <div class="span12" style="background-color: #EEEEEE">
                <div class="span2 v-center h-center" style="background-color: #DDDDDD">
                    <h1>{{ p.score }}</h1>
                    <p><a class="btn btn-success" id="voteUp-prop{{ p.id_num }}" title="I agree with this proposal." href="/parliament/proposals/vote/{{ p.id_num }}/up/"><b><i class="icon-thumbs-up icon-white"></i>&nbsp;{{ p.upvotes }}</b></a>&nbsp;
                       <a class="btn btn-danger" id="voteDown-prop{{ p.id_num }}" title="I disagree with this proposal." href="/parliament/proposals/vote/{{ p.id_num }}/down/"><b><i class="icon-thumbs-down icon-white"></i>&nbsp;{{ p.downvotes }}</b></a>
                </div>
                <div class="span10">
                    <h3><a href="/parliament/proposals/{{ p.id_num }}/">{{ p.title }}</a></h3>
                    <p>Proposed by <a href="#">{{ p.author.short_name }}</a>, in {{ p.timestamp|date:"j F Y" }}</p>
                    <p> {% for tag in p.tag_set.all %}
                            <a class="label label-info" href="/parliament/tags/{{ tag.name }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <br/>
        {% endfor %}
    </div>
    <!-- display of sorted list -->
    <div class="tab-pane" id="OrderByScore">
        {% for p in proposals_list|dictsortreversed:"score" %}
        <div class="row-fluid">
            <div class="span12" style="background-color: #EEEEEE">
                <div class="span2 v-center h-center" style="background-color: #DDDDDD">
                    <h1>{{ p.score }}</h1>
                    <p><a class="btn btn-success" id="voteUp-prop{{ p.id_num }}" title="I agree with this proposal." href="/parliament/proposals/vote/{{ p.id_num }}/up/"><b><i class="icon-thumbs-up icon-white"></i>&nbsp;{{ p.upvotes }}</b></a>&nbsp;
                       <a class="btn btn-danger" id="voteDown-prop{{ p.id_num }}" title="I disagree with this proposal." href="/parliament/proposals/vote/{{ p.id_num }}/down/"><b><i class="icon-thumbs-down icon-white"></i>&nbsp;{{ p.downvotes }}</b></a>
                </div>
                <div class="span10">
                    <h3><a href="/parliament/proposals/{{ p.id_num }}/">{{ p.title }}</a></h3>
                    <p>Proposta por <a href="#">{{ p.author.short_name }}</a>, in {{ p.timestamp|date:"j F Y" }}</p>
                    <p>
                        {% for tag in p.tag_set.all %}
                            <a class="label label-info" href="/parliament/tags/{{ tag.name }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <br/>
        {% endfor %}
    </div>
    <!-- display of sorted list -->
    <div class="tab-pane" id="OrderByViews">
        {% for p in proposals_list|dictsortreversed:"views" %}
        <div class="row-fluid">
            <div class="span12" style="background-color: #EEEEEE">
                <div class="span2 v-center h-center" style="background-color: #DDDDDD">
                    <h1>{{ p.score }}</h1>
                    <p><a class="btn btn-success" id="voteUp-prop{{ p.id_num }}" title="I agree with this proposal." href="/parliament/proposals/vote/{{ p.id_num }}/up/"><b><i class="icon-thumbs-up icon-white"></i>&nbsp;{{ p.upvotes }}</b></a>&nbsp;
                       <a class="btn btn-danger" id="voteDown-prop{{ p.id_num }}" title="I disagree with this proposal." href="/parliament/proposals/vote/{{ p.id_num }}/down/"><b><i class="icon-thumbs-down icon-white"></i>&nbsp;{{ p.downvotes }}</b></a>
                </div>
                <div class="span10">
                    <h3><a href="/parliament/proposals/{{ p.id_num }}/">{{ p.title }}</a></h3>
                    <p>Proposta por <a href="#">{{ p.author.short_name }}</a>, in {{ p.timestamp|date:"j F Y" }}</p>
                    <p>
                        {% for tag in p.tag_set.all %}
                            <a class="label label-info" href="/parliament/tags/{{ tag.name }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <br/>
        {% endfor %}
    </div>
    <!-- end of sorted display -->
</div>
{% else %}
    <div class="row-fluid">
        <div class="span12" style="background-color: #EEEEEE">
            <p align="center">Não foram encontradas propostas.</p>
        </div>
    </div>
{% endif %}
{% endblock content %}
