{% extends "parliament/base.html" %}

{% block title %}{{ proposal.title }}{% endblock %}
{% block description %}{{ proposal.desc|slice:":50" }}{% endblock %}

{% block navbar-content %}
<a class="brand" href="/parliament/">dcid</a>
<div class="nav-collapse collapse" style="height: 0px;">
    <ul class="nav">
        <li><a href="/parliament/">Home</a></li>
        <li class="active"><a href="/parliament/proposals/">Proposals</a></li>
        <li><a href="/parliament/tags/">Tags</a></li>
        <li><a href="#"><!-- empty space --></a></li>
        <li><a href="/parliament/proposals/create">Make a proposal</a></li>
    </ul>
</div>
{% endblock navbar-content %}

{% block content %}
<h1>{{ proposal.title }}</h1>
<br/>
<div class="row-fluid">
    <div class="span9">
        <p class="lead">{{ proposal.problem }}</p>
        <br/><h4>Solution</h4>
        <p>{{ proposal.solution }}</p>
        <br/><h4>Benefits</h4>
        <p>{{ proposal.benefits }}</p>
        <br/> <!-- for low resolutions, separates the previous text from voting buttons bellow -->
    </div>
    
    <div class="span3">
        <p>votes: 
            <a class="btn btn-success" id="voteUp-prop{{ proposal.id_num }}" title="I agree with this proposal."
                href="/parliament/proposals/vote/{{ proposal.id_num }}/up/"><b><i class="icon-thumbs-up icon-white"></i>&nbsp;{{ proposal.upvotes }}</b></a>
            <a class="btn btn-danger" id="voteDown-prop{{ proposal.id_num }}" title="I disagree with this proposal."
                href="/parliament/proposals/vote/{{ proposal.id_num }}/down/"><b><i class="icon-thumbs-down icon-white"></i>&nbsp;{{ proposal.downvotes }}</b></a>
        </p>
        <div id="message-displayer" class="alert alert-info">
            {{ message }} <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <p align="left">tags: {% for tag in proposal.tag_set.all %}
                <a class="label label-info" href="/parliament/tags/{{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </p>
        <p>viewed: <b>{{ proposal.views }} times</b></p>
        <p>since: <b>{{ proposal.timestamp|date:"j M Y" }}</b></p>
        <p>proposer: <b>{{ proposal.author.short_name }}</b></p>
        <p><a class="btn" onclick="confirm_delete({{ proposal.id_num }})"><i class="icon-trash"></i> delete proposal</a></p>
    </div>
</div>
<hr>
            
<div class="row-fluid">
    <div class="span12">
        <h2 align="center">Voters' opinions</h2>
        <div class="row-fluid">
            <div class="span6" style="background-color: #dff0d8">
                <h3 align="center">I agree</h3>
                <hr>
                <p>Estou totalmente de acordo. O dinheiro público é um bem escasso que custa a ganhar, portanto seja-se eficiente com o seu uso! Esta é uma excelente plataforma que pode ser usada para um sem número de fins.</p>
                <p align="center"><i>123K persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
                <p>Os portugueses vão ensinar ao mundo como se faz democracia no século XXI.</p>
                <p align="center"><i>11 persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
                <p>Precisamos desta plataforma o mais depressa possível!</p>
                <p align="center"><i>2 persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
            </div>
            <div class="span6" style="background-color: #f2dede">
                <h3 align="center">I disagree</h3>
                <hr>
                <p>Discordo porque é muito mais fashion cada CM ter o seu site. Enquanto houver dinheiro é para gastar.</p>
                <p align="center"><i>123K persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
                <p>Discordo porque sim.</p>
                <p align="center"><i>11 persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

</script>


{% endblock content %}