{% extends "parliament/base.html" %}

{% block title %}{{ proposal.title }}{% endblock %}
{% block description %}{{ proposal.desc|slice:":50" }}{% endblock %}

{% block navbar-content %}
<a class="brand" href="/parliament/">dcid</a>
<div class="nav-collapse collapse" style="height: 0px;">
    <ul class="nav">
        <li><a href="/parliament/">Home</a></li>
        <li class="active"><a href="/parliament/proposals/">Proposals</a></li>
        <li><a href="/parliament/tags/">Tags</a></li>
        <li><a href="#"><!-- empty space --></a></li>
        <li><a href="/parliament/proposals/create">Make a proposal</a></li>
    </ul>
</div>
{% endblock navbar-content %}

{% block content %}
<h1>{{ proposal.title }}</h1>
<br/>
<div class="row-fluid">
    <div class="span8">
        <p class="lead">{{ proposal.desc }}</p>
        <br/><h4>Motivation / Benefits:</h4>
        <p>{{ proposal.reasons }}</p>
        <br/> <!-- for low resolutions, separates the previous text from voting buttons bellow -->
    </div>
    
    <div class="span4">
        
        <p>votes: <b><a class="btn btn-success"> {{ proposal.upvotes }}</a> <a class="btn btn-danger"> {{ proposal.downvotes }}</a></b></p><br/>
        
        <!-- TODO this is the complete formatting
        <p>votes: <b><a class="btn btn-success"><i class="icon-thumbs-up icon-white"></i> {{ proposal.upvotes }}</a> <a class="btn btn-danger"><i class="icon-thumbs-down icon-white"></i> {{ proposal.downvotes }}</a></b></p><br/>
        -->
        <p>tags: <b>{% for tag in proposal.get_tags %}<a class="label label-info" href="/parliament/tags/{{ tag.name }}">{{ tag.name }}</a> {% endfor %}</b></p>
        <p>viewed: <b>{{ proposal.views }} times</b></p>
        <p>since: <b>{{ proposal.timestamp|date:"j M Y" }}</b></p>
        <p>proposer: <b>{{ proposal.author.short_name }}</b></p>
        <p><a class="btn" onclick="confirm_delete({{ proposal.id }})"><i class="icon-trash"></i> delete proposal</a></p>
    </div>
</div>
<hr>
            
<div class="row-fluid">
    <div class="span12">
        <h2 align="center">Voters' opinions</h2>
        <div class="row-fluid">
            <div class="span6" style="background-color: #dff0d8">
                <h3 align="center">I agree</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p align="center"><i>123K persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p align="center"><i>11 persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p align="center"><i>2 persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
            </div>
            <div class="span6" style="background-color: #f2dede">
                <h3 align="center">I disagree</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p align="center"><i>123K persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p align="center"><i>11 persons agree with this opinion.</i>&nbsp;<b><a class="btn btn-small"><i class="icon-thumbs-up"></i>&nbsp;Me too!</a></b></p>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock content %}