{% extends "parliament/base.html" %}

{% block title %}Make a proposal{% endblock %}
{% block description %}This is where you make your proposal.{% endblock %}

{% block navbar-content %}
<a class="brand" href="/parliament/">dcid</a>
<div class="nav-collapse collapse" style="height: 0px;">
    <ul class="nav">
        <li><a href="/parliament/">Home</a></li>
        <li><a href="/parliament/proposals/">Proposals</a></li>
        <li><a href="/parliament/tags/">Tags</a></li>
        <li><a href="#"><!-- empty space --></a></li>
        <li class="active"><a href="/parliament/proposals/create">Make a proposal</a></li>
    </ul>
</div>
{% endblock navbar-content %}

{% block content %}
<h1>Make a proposal</h1>
<br/>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form class="form" action="/parliament/proposals/create/" method="post">{% csrf_token %}

	<div class="row-fluid">
		<div class="span12">
			<div class="control-group">
		        <label class="control-label" for="title"><h4>{{form.title.label}}</h4></label>
		        <div class="controls input-large">
            		{{ form.title }}
       			</div>
		        <p>{{ form.title.errors }}</p>
    		</div>
		</div>
	</div>	
	<div class="row-fluid">
		<div class="span12">
			<div class="control-group">
		        <label class="control-label" for="description"><h4>{{form.problem.label}}</h4></label>
		        <div class="controls input-large">
            		{{ form.problem }}
       			</div>
		        <p>{{ form.problem.errors }}</p>
    		</div>
		</div>
	</div>		
	<div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <label class="control-label" for="title"><h4>{{form.solution.label}}</h4></label>
                <div class="controls input-large">
                    {{ form.solution }}
                </div>
                <p>{{ form.solution.errors }}</p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <label class="control-label" for="title"><h4>{{form.benefits.label}}</h4></label>
                <div class="controls input-large">
                    {{ form.benefits }}
                </div>
                <p>{{ form.benefits.errors }}</p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <label class="control-label" for="title"><h4>{{form.tags.label}}</h4></label>
                <div class="controls input-large">
                    {{ form.tags }}
                </div>
                <p>{{ form.tags.errors }}</p>
            </div>
        </div>
    </div>

    <p><input class="btn btn-inverse" type="submit" value="Submit proposal" /></p>
</form>
{% endblock content %}