{% extends "parliament/base.html" %}

{% block title %}Lista de Propostas{% endblock %}
{% block description %}TODO{% endblock %}

{% block content %}
<h1>Tags</h1>
<br/>
<p>Estas são todas as tags de todas as propostas. Podes selecionar uma tag para visualizar todas as propostas com essa tag</p>
<br/>
{% if tags_list %}
    <p align="center">
    {% for t in tags_list %}
        <a class="btn btn-large btn-info" href="/parliament/tags/{{ t.name }}">{{ t.name }}</a>&nbsp;&nbsp;
    {% endfor %}
    </p>
{% else %}
    <p align="center">Não foram encontradas tags.</p>
{% endif %}
{% endblock content %}