{% extends "parliament/base.html" %}

{% block title %}List of proposals{% endblock %}
{% block description %}TODO{% endblock %}

{% block content %}
<h1>Tags</h1>
<br/>
<p>These are the all tags of all proposals. You can select one to view only proposals with that tag.</p>
<br/>
{% if tags_list %}
    <p align="center">
    {% for t in tags_list %}
        <a class="btn btn-large btn-info" href="/parliament/tags/{{ t.name }}">{{ t.name }}</a>&nbsp;&nbsp;
    {% endfor %}
    </p>
{% else %}
    <p align="center">No tags found.</p>
{% endif %}
{% endblock content %}